@media (max-width: 1400px){
/* INDEX */
.presentacion p{
    margin-right: 5rem;
}
.presentacion img{
    margin-left: 5rem;
}
.txt-c{
    font-size: 21px;
}
    .cuidados img{
        height: 300px;
        margin-left: 90px;
    }
/* RAZAS */
.razas-main p{
    font-size: 20px;
}
/* CUIDADOS */
.txt-c2{
    font-size: 20px;
}
.txt-derecha{
    font-size: 16px;
}
}